* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
ul,
li {
  list-style-type: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  margin: 20px 0;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.header__logo {
  margin-bottom: 10px;
}
.header__claim {
  font-size: 32px;
  font-weight: 600;
  color: #666;
}
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 40%;
  height: 100vh;
  padding: 20px;
}
.post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (3, 1fr);
}
.post__item {
  margin: 20px 0;
}
.post__item--title {
  font-size: 22px;
  font-weight: 600;
  color: aquamarine;
  margin-bottom: 10px;
}
.post__item--text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #999;
}
.secondary-content {
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: aquamarine;
  flex-grow: 1;
  padding: 20px;
}
