body {
  padding: 2rem;
  height: 100vh;
<<<<<<< HEAD
  //background-image: url('../images/bg-adalab.png');
=======
  background-image: url('../images/bg-adalab.png');
>>>>>>> dc991c1472269f4151c3a3fc4c18dab4e6c63a86
  background-color: $color-bg;
  font-family: $font-main;
}
